.section__infos {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 10px;
    gap: 5.7rem;
    
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(230, 234, 240, 0.829);

    padding: 0, 5rem;
    border-radius: 0.4rem;
}

.card>h2 {
    font-size: 15px;
    text-transform: capitalize;
}

.description__card-icon {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
    margin-left: 10px;


}

.description__card-icon>small {
    text-transform: capitalize;
}

@media screen and (max-width:1024px) {
    .section__infos {
        grid-template-columns: 1fr 1fr;
    }
}