.searchbar{
    width: 20%;
    height: 450px;
   margin-left: 1575px;
   margin-top: -1042px;
 
   background-color: rgba(230, 234, 240, 0.829);
    border-radius: 15px;
    color: black;
    
   
}

.blog{
    width: 115%;
    height: 400px;
    color: black;
   
}